@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  background-color: hsl(212, 45%, 89%);
}

main {
  width: 100%;
  max-width: 22rem;
  margin: 3rem auto;
  background-color: hsl(0, 0%, 100%);
  justify-content: center;
  padding: 1rem 1rem 3rem;
  border-radius: 1rem;
}

main img {
  width: 100%;
  border-radius: 1rem;
}

.caption {
  text-align: center;
  width: 95%;
}

.caption h2 {
  color: hsl(218, 44%, 22%);
  margin: 1.5rem 0;
}

.caption p {
  color: hsl(220, 15%, 55%);
  padding: 0 1rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
